
.cart-modal-item{
    grid-template-columns: 64px auto 65px;
    column-gap: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    &-img{
        width: 60px;
        height: 60px;
    }
    &-title{
        color: rgba(0, 0, 0, 0.85);
    }
}